json_data/vaers_subset.json filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
json_data/*.json filter=lfs diff=lfs merge=lfs -text
json_data/symptom_mappings.json filter=lfs diff=lfs merge=lfs -text
